<div id="preloader" ng-if="!vm.serverResponse">
    <div class="loader"></div>
</div>
</div>

<div id="heading-tweets">
    <h2>Tweets about {{vm.tweetLocationName}}</h2>
</div>

<div id="map-view">
    <div style="width: 100%">
        <ng-map center="{{vm.mapCenter}}"
                styles="[{stylers:[{saturation:'-100'}]}]"
                geo-fallback-center="27.7172, 85.3240" zoom-to-include-markers="true"
                style="height:100%" default-style="false">
            <custom-marker id="{{tweet.id}}"
                           position="{{individualTweet.position}}"
                           ng-repeat="individualTweet in vm.tweets"
                           on-click="vm.showDetail(individualTweet)">
                <img style="border:1px solid #fff; border-radius: 50%;" src="{{(individualTweet.user_profile)?individualTweet.user_profile:'img/marker.png'}}" />
            </custom-marker>
            <info-window id="foo" pixel-offset="{width:0,height:-50}">
                <div ng-non-bindable="">
                    Tweet: {{vm.sTweet.tweet}}<br/>
                    When: {{vm.sTweet.created_at}}<br/>
                </div>
            </info-window>
        </ng-map>
    </div>


    <div id="history" ng-show="vm.showHistoryList">
        <div class="list-item list-item-header" ng-click="vm.showHistoryList = !vm.showHistoryList">
            < Back To Tweets!
        </div>
        <div class="list-item" ng-repeat="place in vm.searchHistoryList" ng-click="vm.handleHistoryListClick(place)">
            {{place.name}}
        </div>
    </div>
</div>



<div id="map-options">
    <div ng-if="!vm.tweetResponse" id="no-tweets">
        <div>
            No tweets available about {{vm.noResponseSection}}
        </div>
    </div>
    <div class="row" style="background: #fff">
        <div class="col-sm-8 search-tab">
            <input id="search" type="text" placeholder="City name" ng-model="vm.placeName">
        </div>
        <div class="col-sm-4 search-tab">
            <div class="row">
                <div  class="col-sm-6 buttons" ng-click="vm.handleSearchButtonClick()">Search</div>
                <div class="col-sm-6 buttons" ng-click="vm.handleHistoryButtonClick()">History</div>
            </div>
        </div>

    </div>

</div>
